@model Hourly.FE.Models.AccountModel
@{
    ViewBag.Title = "Login";
}
<div id="Login-Block" class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <h2>Login </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new
                {
                    ReturnUrl = ViewBag.Message // ViewBag.ReturnUrl
                }, FormMethod.Post, new
                {
                    @class = "form-horizontal",
                    role = "form"
                }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new
               {
                   @class = "text-danger"
               })
                    <div class="form-group">
                        <div class="col-sm-8">
                            @ViewBag.Message
                            @Html.TextBoxFor(m => m.email, new
                       {
                           @class = "form-control",
                           placeholder = "Email",
                           @required = "required"

                       })
                            @Html.ValidationMessageFor(m => m.email, "", new
                       {
                           @class = "text-danger"
                       })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.password, new
                       {
                           @class = "form-control",
                           placeholder = "Password",
                           @required = "required"
                       })
                            @Html.ValidationMessageFor(m => m.password, "", new
                       {
                           @class = "text-danger"
                       })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <a href="#" id="Register">Register</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="submit"
                                   value="Log in"
                                   class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>
<div id="Register-Block" class="container-fluid" style="display:none">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <h2>Register </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <section id="loginForm">
                @using (Html.BeginForm("Register", "Account", new
                {
                    ReturnUrl = ViewBag.Message // ViewBag.ReturnUrl
                }, FormMethod.Post, new
                {
                    @class = "form-horizontal",
                    role = "form"
                }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new
               {
                   @class = "text-danger"
               })
                    <div class="form-group">
                        <div class="col-sm-8">
                            @ViewBag.Message
                            @Html.TextBoxFor(m => m.firstName, new
                       {
                           @class = "form-control",
                           placeholder = "First Name",
                           @required = "required"

                       })
                            @Html.ValidationMessageFor(m => m.firstName, "", new
                       {
                           @class = "text-danger"
                       })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            @ViewBag.Message
                            @Html.TextBoxFor(m => m.lastName, new
                       {
                           @class = "form-control",
                           placeholder = "Last Name",
                           @required = "required"

                       })
                            @Html.ValidationMessageFor(m => m.lastName, "", new
                       {
                           @class = "text-danger"
                       })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            @ViewBag.Message
                            @Html.TextBoxFor(m => m.company, new
                       {
                           @class = "form-control",
                           placeholder = "Company",
                           @required = "required"

                       })
                            @Html.ValidationMessageFor(m => m.company, "", new
                       {
                           @class = "text-danger"
                       })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            @ViewBag.Message
                            @Html.TextBoxFor(m => m.email, new
                       {
                           @class = "form-control",
                           placeholder = "Email",
                           @required = "required"

                       })
                            @Html.ValidationMessageFor(m => m.email, "", new
                       {
                           @class = "text-danger"
                       })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.password, new
                       {
                           @class = "form-control",
                           placeholder = "Password",
                           @required = "required"
                       })
                            @Html.ValidationMessageFor(m => m.password, "", new
                       {
                           @class = "text-danger"
                       })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <a href="#" id="Login">Login</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="submit"
                                   value="Log in"
                                   class="btn btn-default" />
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#Register").click(function () {
            $("#Login-Block").hide();
            $("#Register-Block").show();
        });
        $("#Login").click(function () {
            $("#Register-Block").hide();
            $("#Login-Block").show();
        });
    });
</script>




